<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    {%- include sub-footer.html -%}

  </body>

  <div class="sidenav left">
    {%- if page.prev-page -%}
      <a class="navbutton" href={{page.prev-page}}>
        <img src="../assets/icons/test.jpg" alt={{page.prev-page-name}}>
      </a>
    {%- endif -%}
  </div>
  
  <div class="sidenav right">
    {%- if page.next-page -%}
      <a class="navbutton" href={{page.next-page}}>
        <img src="../assets/icons/test.jpg" alt={{page.next-page-name}}>
      </a>
    {%- endif -%}
  </div>

</html>
