<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- if page.prev-page -%}
    <div class="sidenav left">
        <a class="navbutton" href={{page.prev-page}}>
          <svg fill="currentColor" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330" xml:space="preserve">
            <path id="XMLID_2_" d="M165,0C74.019,0,0,74.019,0,165s74.019,165,165,165s165-74.019,165-165S255.981,0,165,0z M225.606,175.605
                      l-80,80.002C142.678,258.535,138.839,260,135,260s-7.678-1.464-10.606-4.394c-5.858-5.857-5.858-15.355,0-21.213l69.393-69.396
                      l-69.393-69.392c-5.858-5.857-5.858-15.355,0-21.213c5.857-5.858,15.355-5.858,21.213,0l80,79.998
                      c2.814,2.813,4.394,6.628,4.394,10.606C230,168.976,228.42,172.792,225.606,175.605z" />
          </svg>
        </a>
    </div>
    {%- endif -%}
    
    {%- if page.next-page -%}
    <div class="sidenav right">
        <a class="navbutton" href={{page.next-page}}>
          <svg fill="currentColor" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330" xml:space="preserve">
            <path id="XMLID_2_" d="M165,0C74.019,0,0,74.019,0,165s74.019,165,165,165s165-74.019,165-165S255.981,0,165,0z M225.606,175.605
                              l-80,80.002C142.678,258.535,138.839,260,135,260s-7.678-1.464-10.606-4.394c-5.858-5.857-5.858-15.355,0-21.213l69.393-69.396
                              l-69.393-69.392c-5.858-5.857-5.858-15.355,0-21.213c5.857-5.858,15.355-5.858,21.213,0l80,79.998
                              c2.814,2.813,4.394,6.628,4.394,10.606C230,168.976,228.42,172.792,225.606,175.605z" />
          </svg>
        </a>
    </div>
    {%- endif -%}

    <!--
    {%- if page.sections -%}
    <div class="section-links">
      {%- assign section_names = page.sections | split: ", " -%}
      {%- assign section_anchors = page.section-anchors | split: ", " -%}
      {%- assign sections = section_names.size | minus: 1 -%}
      <ol>
        <p class="accent">Sections:</p>
        {%- for secIndex in (0..sections) -%}
        <li>
          <a href=#{{section_anchors[secIndex]}}>{{section_names[secIndex]}}</a>
        </li>
        {%- endfor -%}
      </ol>
    </div>
    {%- endif -%}
  -->

    
    {%- include footer.html -%}

    {%- include sub-footer.html -%}

  </body>
</html>
