---
layout: base
---
<article class="post">

  <script>
  window.addEventListener("load", function() {
    const form = document.getElementById('contact-form');
    form.addEventListener("submit", function(e) {
      e.preventDefault();
      const data = new FormData(form);
      const action = e.target.action;
      fetch(action, {
        method: 'POST',
        body: data,
      })
      .then(() => {
        alert("Message delivered. Thanks for reaching out!");
      })
    });
  });
  </script>
  
  <div class="contact">

    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}


    <div class="post-content">
      {{ content }}
    </div>

    <div class="contact-container">
      <form 
        method="POST" 
        action="https://script.google.com/macros/s/AKfycbx0XFGWOIAyeTX8-CWoq99hkBu5v53wlTPkY4m5lrTdfJRipPVLUa7ZDxRiiHhDiRSy/exec"
        id = "contact-form"
      >
        <input name="Name" type="text" placeholder="Name" required>
        <input name="Email" type="email" placeholder="Email" required>
        <textarea name="Message" rows="5" col="20" placeholder="Message" required></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>

  </div>
</article>
