---
layout: base
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <div class="post-meta">
    </div>
  </header>

  <div class="post-breakdown">
    <ul class="post-bd-list">
      <li class="project-overview">
        {%- if page.engine -%}
          <span class="accent">Engine:</span> {{page.engine}}
          <br>
        {%- endif -%}
        {%- if page.role -%}
        <span class="accent">Role:</span> {{page.role}}
          <br>
        {%- endif -%}
        {%- if page.team-size -%}
        <span class="accent">Team Size:</span> {{page.team-size}}
          <br>
        {%- endif -%}
      </li>
      <li class="project-links">
        {%- if page.steam-link -%}
          <a href={{page.steam-link}} target="_blank">
            Steam Page
            <img src="/assets/icons/link-colored.png">
          </a>
          <br>
        {%- endif -%}
        {%- if page.itch-link -%}
          <a href={{page.itch-link}} target="_blank">
           Itch.io Page
            <img src="/assets/icons/link-colored.png">
          </a>
          <br>
        {%- endif -%}
        {%- if page.video-link -%}
          <a href={{page.video-link}} target="_blank">
            Video Playthrough
            <img src="/assets/icons/link-colored.png">
          </a>
          <br>
        {%- endif -%}
        {%- if page.repo-link -%}
          <a href={{page.repo-link}} target="_blank">
            Repo Link
            <img src="/assets/icons/link-colored.png">
          </a>
          <br>
        {%- endif -%}
      </li>
    </ul>
  </div>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if page.sections -%}
  <div class="section-links">
    {%- assign section_names = page.sections | split: " " -%}
    <ul>
      {%- for section in section_names -%}
      <li>
        <a href=#{{section}}>{{section}}</a>
      </li>
      {%- endfor -%}
    </ul>
  </div>
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
