---
layout: base
---

{%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}


{% if site.paginate %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}


{%- if posts.size > 0 -%}
  {%- if page.list_title -%}
    <h2 class="post-list-heading">{{ page.list_title }}</h2>
  {%- endif -%}
  <ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in posts -%}
    <li>
      <ul class="project-preview">
        <a href="{{ post.url | relative_url }}">
          <li class="project-img">
            {%- if post.preview_img -%}
              <img src={{post.preview_img}} alt="project-preview-img">
            {%- endif -%}
          </li>
          <li class="project-info">
            <p class="project-title-preview">
              {{ post.title | escape }}
            </p>
            <p>
              {%- if post.topic-list -%}
                <span class="topics">Topics: </span> 
                {{ post.topic-list }}
              {%- endif -%}
            </p>
            <p>
              {%- if post.description -%}
                {{ post.description }}
              {%- elsif site.minima.show_excerpts -%}
                {{ post.excerpt }}
              {%- endif -%}
            </p>
          </li>
        </a>
      </ul>
    </li>
    {%- endfor -%}
  </ul>

  {% if site.paginate %}
    <div class="pager">
      <ul class="pagination">
      {%- if paginator.previous_page %}
        <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
      {%- else %}
        <li><div class="pager-edge">•</div></li>
      {%- endif %}
        <li><div class="current-page">{{ paginator.page }}</div></li>
      {%- if paginator.next_page %}
        <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
      {%- else %}
        <li><div class="pager-edge">•</div></li>
      {%- endif %}
      </ul>
    </div>
  {%- endif %}

{%- endif -%}


